POSTGRES_DB_NAME=oven
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=oven
POSTGRES_PASSWORD=oven-local-password
JWT_SECRET=0123456789012345678901234567890123456789012345678901234567890123
JWT_EXPIRATION_MINUTES=30
OVEN_ENVIRONMENT=local
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
